nav {
    background-color: var(--background-color);
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    height: var(--nav-height);
    display: flex;
    align-items: center;
}

#logo {
    margin-left: 5%;
}

.nav-links {
    margin-left: auto;
    margin-right: 5%;
    display: flex;
    gap: 30px;
}